<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VIPER.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D214F0FB1DA50ADE00845BC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D214F10F1DA50ADF00845BC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D214F11A1DA50ADF00845BC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
